[Unit]
Description=RFKill-Block %I
After=rfkill-unblock@all.service

[Service]
Type=oneshot
ExecStart=/data/usr/bin/rfkill block %I

[Install]
WantedBy=multi-user.target
